@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline;
  }

  .todoItem {
    color: #13588C;
    font-size: 24px;
  }
  
  .list {
    display: flex;
    width: 400px;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 0 10px;
    background-color: white;
    border-radius: 10px;
    word-wrap: break-word;
  }

  .submitButton:hover {
    background-color: #d8ad43;
  }
  
  .submitButton {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #13588C;
    border-radius: 10px;
    font-weight: bold;
    width: 77px;
    height: 39px;
    cursor: pointer;
  }

  .todoContent {
    display: flex;
    align-items: center;
  }
  
  h1 {
    padding-right: 20px;
    max-width: 300px;
  }
  .checkbox {
    zoom: 2;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 5px;
  }
  


  .signOutButton { 
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #13588C;
    border-radius: 10px;
    font-weight: bold;
    width: 400px;
    height: 39px;
    cursor: pointer;
    margin-top: 20px;

  }

  .bin {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

.button-row {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}

.button-row input {
  width: 270px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: #13588C;
}

.newItemInput::placeholder {
  color: #13588C;
}

.footer h2 {
  color: white;
  text-align: center;
}